<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mooring.github</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B704279-3A54-47FA-84CE-97EAD0EC4325</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0C3A84DF-F228-4CA3-9272-504E8D9D2854</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5947FD1-095D-4B1F-8F7A-667A966CB05B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F145C08-20D4-4834-9B01-0CE5F657A0C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27AD75B4-10B6-4E1F-A8C5-E428C35162AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2A57FA60-0513-47EA-B1BE-EF1C71E76833</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B704279-3A54-47FA-84CE-97EAD0EC4325</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BA1CEEB-918A-4820-B596-C2CD057D0689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FAE029E9-144A-4395-BCB6-0565B2E1C86C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30C5EE73-FBBD-41EA-B591-17978B3D64BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B21A1DF4-E7FD-4DBC-829B-9C3D7D3C554D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33E23831-1113-4853-A5F5-7F873BA7A4E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60880364-4942-4D3E-BC41-BCAC6F00ECD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3492ED9C-1A28-43E0-9B06-B1B4B11B4C31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3820260F-B578-4BB7-BB3D-5822DE664411</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39D2051E-2A7E-4F73-BAEF-8D369B04313E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40B948C0-7710-4963-BD18-1253D29E9688</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4101A319-6934-467B-8F7F-DBD14338250A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4C77072-4235-4913-83EE-A710CEC825AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4263113A-4904-4C84-A47A-BA4A7810E1E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45F97E68-7A3D-4117-8800-C9A5B3FF7F6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3820260F-B578-4BB7-BB3D-5822DE664411</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4713814F-B17C-480A-94B2-9909C7E90BAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3B81B7B-5236-40D6-B310-3FDD1B790460</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5124CCE9-59FF-42FB-BEE7-97E5E47FFA98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53010B17-4D31-4E62-8CB3-B21744F24385</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B720B15E-3D9F-4E1A-9B7A-D5211EFF0593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54CE2D23-EDD6-4798-A23E-4D66FAB1F46C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27AD75B4-10B6-4E1F-A8C5-E428C35162AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>551EC518-907C-453A-9096-745E9B6FE2DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F145C08-20D4-4834-9B01-0CE5F657A0C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60880364-4942-4D3E-BC41-BCAC6F00ECD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>727ADAE5-9203-4953-9CFC-62512E027D9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3492ED9C-1A28-43E0-9B06-B1B4B11B4C31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F070017-07BF-4944-BD94-A3CB7D9CA06F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>884C12A9-1706-40C3-92C4-0C807B72D57B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5124CCE9-59FF-42FB-BEE7-97E5E47FFA98</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93ECD4F7-42C0-40ED-BE83-A8FB16F48730</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C085A71-D40D-449B-8793-7D229D26067E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C085A71-D40D-449B-8793-7D229D26067E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39D2051E-2A7E-4F73-BAEF-8D369B04313E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A26F8BDF-0FDA-46A8-AA6C-55F29E50A0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5478AA5-8D96-4F9A-B3E1-0498562F2404</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40B948C0-7710-4963-BD18-1253D29E9688</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B21A1DF4-E7FD-4DBC-829B-9C3D7D3C554D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4766A16-AB55-4039-9D03-C6908A085B97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A26F8BDF-0FDA-46A8-AA6C-55F29E50A0E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B720B15E-3D9F-4E1A-9B7A-D5211EFF0593</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C533B282-274D-4977-82F8-693FD73F36E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4263113A-4904-4C84-A47A-BA4A7810E1E2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F086240A-F218-48E9-BCC6-B749D800452E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39D2051E-2A7E-4F73-BAEF-8D369B04313E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F34E4ACB-DFE6-4B22-AF80-D6CF7C42272A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F086240A-F218-48E9-BCC6-B749D800452E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3B81B7B-5236-40D6-B310-3FDD1B790460</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4C77072-4235-4913-83EE-A710CEC825AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5947FD1-095D-4B1F-8F7A-667A966CB05B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAE029E9-144A-4395-BCB6-0565B2E1C86C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>mooringniu</string>
	<key>description</key>
	<string>Daily Code Transformer for Programmers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Coder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'urlencode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F4C77072-4235-4913-83EE-A710CEC825AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>url</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Encode URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4101A319-6934-467B-8F7F-DBD14338250A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>url</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Decode URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2BA1CEEB-918A-4820-B596-C2CD057D0689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'urldecode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FAE029E9-144A-4395-BCB6-0565B2E1C86C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'b64encode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3820260F-B578-4BB7-BB3D-5822DE664411</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b64</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Base64 Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45F97E68-7A3D-4117-8800-C9A5B3FF7F6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'b64decode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B21A1DF4-E7FD-4DBC-829B-9C3D7D3C554D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>b64</string>
				<key>subtext</key>
				<string>"{query}"</string>
				<key>text</key>
				<string>Base64 Dncode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>30C5EE73-FBBD-41EA-B591-17978B3D64BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'md5sum')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A26F8BDF-0FDA-46A8-AA6C-55F29E50A0E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>md5</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>MD5 SUM</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4766A16-AB55-4039-9D03-C6908A085B97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'sha1')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3B81B7B-5236-40D6-B310-3FDD1B790460</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sha</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>SHA1</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4713814F-B17C-480A-94B2-9909C7E90BAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>ip2long</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>54CE2D23-EDD6-4798-A23E-4D66FAB1F46C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'ip2long')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>27AD75B4-10B6-4E1F-A8C5-E428C35162AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0F070017-07BF-4944-BD94-A3CB7D9CA06F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'long2ip')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60880364-4942-4D3E-BC41-BCAC6F00ECD8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ip</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>long2ip</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>33E23831-1113-4853-A5F5-7F873BA7A4E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>JSON Decode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>551EC518-907C-453A-9096-745E9B6FE2DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'jsondecode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F145C08-20D4-4834-9B01-0CE5F657A0C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>JSON Encode</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5478AA5-8D96-4F9A-B3E1-0498562F2404</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'jsonencode')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>40B948C0-7710-4963-BD18-1253D29E9688</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>xml</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>Tidy XML</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53010B17-4D31-4E62-8CB3-B21744F24385</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'tidyxml')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B720B15E-3D9F-4E1A-9B7A-D5211EFF0593</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'date')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0B704279-3A54-47FA-84CE-97EAD0EC4325</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>date</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>Unix Timestamp to GMT Date String</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2A57FA60-0513-47EA-B1BE-EF1C71E76833</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>time</string>
				<key>subtext</key>
				<string>current Timestamp</string>
				<key>text</key>
				<string>get Unix Timestamp</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>727ADAE5-9203-4953-9CFC-62512E027D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

api    = getattr(CoderLib(), 'timestamp')
query  = api()
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3492ED9C-1A28-43E0-9B06-B1B4B11B4C31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>js</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>buautify javascript code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C533B282-274D-4977-82F8-693FD73F36E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'jsbeautify')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4263113A-4904-4C84-A47A-BA4A7810E1E2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'cssbeautify')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5124CCE9-59FF-42FB-BEE7-97E5E47FFA98</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>css</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>buautify css</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>884C12A9-1706-40C3-92C4-0C807B72D57B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>css</string>
				<key>subtext</key>
				<string>'{query}'</string>
				<key>text</key>
				<string>Compress css</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C3A84DF-F228-4CA3-9272-504E8D9D2854</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys

temp   = sys.argv[1]
api    = getattr(CoderLib(), 'cssminify')
query  = api(temp)
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5947FD1-095D-4B1F-8F7A-667A966CB05B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>from apis import encodeClipBoard

encodeClipBoard()
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select Code Method</string>
				<key>title</key>
				<string>Code Selection</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F086240A-F218-48E9-BCC6-B749D800452E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<true/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F34E4ACB-DFE6-4B22-AF80-D6CF7C42272A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>from libs import CoderLib
import sys, json, base64

temp   = '{query}'
cmder  = json.loads(temp)
api    = getattr(CoderLib(), cmder['api'])
query  = api(base64.b64decode(cmder['query']))
sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39D2051E-2A7E-4F73-BAEF-8D369B04313E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>code</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>from apis import showMenuItems

showMenuItems("{query}")
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select Code Method</string>
				<key>title</key>
				<string>Code Selection</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C085A71-D40D-449B-8793-7D229D26067E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>93ECD4F7-42C0-40ED-BE83-A8FB16F48730</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Programmer's Daily Text Tranform Tools

Enjoy

Open source code AT:
https://github.com/mooring/Coder-for-Alfred

Author: mooringniu@gmail.com</string>
	<key>uidata</key>
	<dict>
		<key>0B704279-3A54-47FA-84CE-97EAD0EC4325</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>0C3A84DF-F228-4CA3-9272-504E8D9D2854</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>1795</integer>
		</dict>
		<key>0F070017-07BF-4944-BD94-A3CB7D9CA06F</key>
		<dict>
			<key>xpos</key>
			<integer>1490</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>1F145C08-20D4-4834-9B01-0CE5F657A0C4</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>27AD75B4-10B6-4E1F-A8C5-E428C35162AA</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>2A57FA60-0513-47EA-B1BE-EF1C71E76833</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>1280</integer>
		</dict>
		<key>2BA1CEEB-918A-4820-B596-C2CD057D0689</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>30C5EE73-FBBD-41EA-B591-17978B3D64BB</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>33E23831-1113-4853-A5F5-7F873BA7A4E4</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>3492ED9C-1A28-43E0-9B06-B1B4B11B4C31</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1395</integer>
		</dict>
		<key>3820260F-B578-4BB7-BB3D-5822DE664411</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>39D2051E-2A7E-4F73-BAEF-8D369B04313E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>1990</integer>
		</dict>
		<key>40B948C0-7710-4963-BD18-1253D29E9688</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
		<key>4101A319-6934-467B-8F7F-DBD14338250A</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>4263113A-4904-4C84-A47A-BA4A7810E1E2</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>1525</integer>
		</dict>
		<key>45F97E68-7A3D-4117-8800-C9A5B3FF7F6C</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4713814F-B17C-480A-94B2-9909C7E90BAA</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>5124CCE9-59FF-42FB-BEE7-97E5E47FFA98</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>1655</integer>
		</dict>
		<key>53010B17-4D31-4E62-8CB3-B21744F24385</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>54CE2D23-EDD6-4798-A23E-4D66FAB1F46C</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>551EC518-907C-453A-9096-745E9B6FE2DB</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>60880364-4942-4D3E-BC41-BCAC6F00ECD8</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>727ADAE5-9203-4953-9CFC-62512E027D9B</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>1395</integer>
		</dict>
		<key>7AF4C686-92FF-47AA-9680-AC3DFF2C3955</key>
		<dict>
			<key>xpos</key>
			<integer>1340</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>884C12A9-1706-40C3-92C4-0C807B72D57B</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>1655</integer>
		</dict>
		<key>93ECD4F7-42C0-40ED-BE83-A8FB16F48730</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>2075</integer>
		</dict>
		<key>9C085A71-D40D-449B-8793-7D229D26067E</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>2055</integer>
		</dict>
		<key>A26F8BDF-0FDA-46A8-AA6C-55F29E50A0E1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>A5478AA5-8D96-4F9A-B3E1-0498562F2404</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>1050</integer>
		</dict>
		<key>B21A1DF4-E7FD-4DBC-829B-9C3D7D3C554D</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>B4766A16-AB55-4039-9D03-C6908A085B97</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>B720B15E-3D9F-4E1A-9B7A-D5211EFF0593</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>1160</integer>
		</dict>
		<key>C533B282-274D-4977-82F8-693FD73F36E8</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>1525</integer>
		</dict>
		<key>F086240A-F218-48E9-BCC6-B749D800452E</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>1925</integer>
		</dict>
		<key>F34E4ACB-DFE6-4B22-AF80-D6CF7C42272A</key>
		<dict>
			<key>note</key>
			<string>Process Clipboard</string>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>1925</integer>
		</dict>
		<key>F3B81B7B-5236-40D6-B310-3FDD1B790460</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>F4C77072-4235-4913-83EE-A710CEC825AD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F5947FD1-095D-4B1F-8F7A-667A966CB05B</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>1795</integer>
		</dict>
		<key>FAE029E9-144A-4395-BCB6-0565B2E1C86C</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.8</string>
	<key>webaddress</key>
	<string>https://github.com/mooring/Coder-for-Alfred</string>
</dict>
</plist>
